img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  head {
    width: 1440px;
    height: 1170px;
    top: -139px;
    left: -101px;
  }
  
  body {
    background-color: azure;
    text-decoration: overline;
    text-decoration-color: darkslategray;
  }
  